<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar tu nombre..."[formControl]="fg.controls['nombre']">
        <ul>
            <li *ngfor="let r of serchResults">{{r}}</li>
        </ul>
        <div ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido!</div>
        <div ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido!</div>
        <div ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongitud}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url de una imagen..."[formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngif="fg.valid">Guardar!</button>
</form>